---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Swords%20to%20Plowshares
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.jpg?1641601682
      X-Scryfall-Card:
      - https://scryfall.com/card/voc/99/swords-to-plowshares?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"646284fd2edb082205e8ef2a9a2c5af6"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"06d67c87-ae38-4b84-98da-818e451a727f","oracle_id":"b1544f21-7e98-461b-aed5-e748b0168c52","multiverse_ids":[545719],"tcgplayer_id":254168,"cardmarket_id":584079,"name":"Swords
        to Plowshares","lang":"en","released_at":"2021-11-19","uri":"https://api.scryfall.com/cards/06d67c87-ae38-4b84-98da-818e451a727f","scryfall_uri":"https://scryfall.com/card/voc/99/swords-to-plowshares?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.jpg?1641601682","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.jpg?1641601682","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.jpg?1641601682","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.png?1641601682","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.jpg?1641601682","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/0/6/06d67c87-ae38-4b84-98da-818e451a727f.jpg?1641601682"},"mana_cost":"{W}","cmc":1.0,"type_line":"Instant","oracle_text":"Exile
        target creature. Its controller gains life equal to its power.","colors":["W"],"color_identity":["W"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"banned","gladiator":"legal","pioneer":"not_legal","modern":"not_legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","historicbrawl":"legal","alchemy":"not_legal","paupercommander":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"legal"},"games":["paper"],"reserved":false,"foil":false,"nonfoil":true,"finishes":["nonfoil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"b2e444f7-41e6-4172-ba01-47d91d5e7bbc","set":"voc","set_name":"Crimson
        Vow Commander","set_type":"commander","set_uri":"https://api.scryfall.com/sets/b2e444f7-41e6-4172-ba01-47d91d5e7bbc","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Avoc\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/voc?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/06d67c87-ae38-4b84-98da-818e451a727f/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3Ab1544f21-7e98-461b-aed5-e748b0168c52\u0026unique=prints","collector_number":"99","digital":false,"rarity":"uncommon","flavor_text":"\"The
        arc of my blade has carved a path of light for the peace that will follow.\"","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Jesper
        Ejsing","artist_ids":["a5f8354a-8b51-4e59-96b2-0e3aeae4fa1d"],"illustration_id":"3c970964-2c63-4189-9c60-7bb63a7c42ea","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":14,"prices":{"usd":"2.27","usd_foil":null,"usd_etched":null,"eur":"1.78","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=545719","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Swords+to+Plowshares\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Swords+to+Plowshares\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Swords+to+Plowshares","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Swords+to+Plowshares"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=254168\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Swords+to+Plowshares\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards?affiliate_id=scryfall\u0026data%5Bsearch%5D=Swords+to+Plowshares\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:33:22 GMT
recorded_with: VCR 6.0.0
