---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Divination
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.jpg?1562304347
      X-Scryfall-Card:
      - https://scryfall.com/card/m19/51/divination?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      X-Action-Cache:
      - MISS
      Etag:
      - W/"f02285f1c4a3014e2e83745ddd8065dd"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"cb3b35b8-f321-46d8-a441-6b9a6efa9021","oracle_id":"273b339c-964b-4a18-8eb5-ceb8abcdfd9e","multiverse_ids":[447187],"mtgo_id":68263,"arena_id":67782,"tcgplayer_id":168449,"cardmarket_id":359597,"name":"Divination","lang":"en","released_at":"2018-07-13","uri":"https://api.scryfall.com/cards/cb3b35b8-f321-46d8-a441-6b9a6efa9021","scryfall_uri":"https://scryfall.com/card/m19/51/divination?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.jpg?1562304347","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.jpg?1562304347","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.jpg?1562304347","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.png?1562304347","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.jpg?1562304347","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/c/b/cb3b35b8-f321-46d8-a441-6b9a6efa9021.jpg?1562304347"},"mana_cost":"{2}{U}","cmc":3.0,"type_line":"Sorcery","oracle_text":"Draw
        two cards.","colors":["U"],"color_identity":["U"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"legal","gladiator":"legal","pioneer":"legal","modern":"legal","legacy":"legal","pauper":"legal","vintage":"legal","penny":"legal","commander":"legal","brawl":"not_legal","historicbrawl":"legal","alchemy":"not_legal","paupercommander":"legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["arena","paper","mtgo"],"reserved":false,"foil":true,"nonfoil":true,"finishes":["nonfoil","foil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"2f5f2509-56db-414d-9a7e-6e312ec3760c","set":"m19","set_name":"Core
        Set 2019","set_type":"core","set_uri":"https://api.scryfall.com/sets/2f5f2509-56db-414d-9a7e-6e312ec3760c","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Am19\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/m19?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/cb3b35b8-f321-46d8-a441-6b9a6efa9021/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A273b339c-964b-4a18-8eb5-ceb8abcdfd9e\u0026unique=prints","collector_number":"51","digital":false,"rarity":"common","flavor_text":"\"The
        stars mark your destiny. May you accept the fate thus divulged.\"","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Willian
        Murai","artist_ids":["5a553c8e-e3b9-40e0-bde5-1db621c53939"],"illustration_id":"d1731188-b151-4872-91e9-cafec46a33d2","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":true,"story_spotlight":false,"edhrec_rank":3870,"prices":{"usd":"0.04","usd_foil":"0.21","usd_etched":null,"eur":"0.14","eur_foil":"0.50","tix":"0.03"},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=447187","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Divination\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Divination\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Divination","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Divination"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=168449\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Divination\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/68263?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:26:29 GMT
recorded_with: VCR 6.0.0
