---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Sol%20Ring
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523
      X-Scryfall-Card:
      - https://scryfall.com/card/c21/263/sol-ring?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"56f32a1749276a3a9310c047d1e021bb"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"4cbc6901-6a4a-4d0a-83ea-7eefa3b35021","oracle_id":"6ad8011d-3471-4369-9d68-b264cc027487","multiverse_ids":[519298],"mtgo_id":89631,"tcgplayer_id":236137,"cardmarket_id":559712,"name":"Sol
        Ring","lang":"en","released_at":"2021-04-23","uri":"https://api.scryfall.com/cards/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021","scryfall_uri":"https://scryfall.com/card/c21/263/sol-ring?utm_source=api","layout":"normal","highres_image":false,"image_status":"lowres","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.png?1618264523","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/4/c/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021.jpg?1618264523"},"mana_cost":"{1}","cmc":1.0,"type_line":"Artifact","oracle_text":"{T}:
        Add {C}{C}.","colors":[],"color_identity":[],"keywords":[],"produced_mana":["C"],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"not_legal","legacy":"banned","pauper":"not_legal","vintage":"restricted","penny":"not_legal","commander":"legal","brawl":"not_legal","duel":"banned","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":false,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"c21","set_name":"Commander
        2021","set_type":"commander","set_uri":"https://api.scryfall.com/sets/27bf6dbd-a9e1-4904-afa7-d28fc7745c4f","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Ac21\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/c21?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/4cbc6901-6a4a-4d0a-83ea-7eefa3b35021/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A6ad8011d-3471-4369-9d68-b264cc027487\u0026unique=prints","collector_number":"263","digital":false,"rarity":"uncommon","flavor_text":"Lost
        to time is the artificer''s art of trapping light from a distant star in a
        ring of purest gold.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Mike
        Bierek","artist_ids":["e5f52ef5-1a2e-4128-90b0-ccc71cd47ea7"],"illustration_id":"146aaae4-93f4-409a-be32-010e86d137da","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":1,"prices":{"usd":"2.40","usd_foil":null,"eur":"1.42","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=519298","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Sol+Ring\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Sol+Ring\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Sol+Ring","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Sol+Ring"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=236137\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Sol+Ring\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/89631?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Mon, 19 Apr 2021 04:06:23 GMT
recorded_with: VCR 6.0.0
