---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Beast%20within
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.jpg?1637630911
      X-Scryfall-Card:
      - https://scryfall.com/card/mic/133/beast-within?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      X-Action-Cache:
      - MISS
      Etag:
      - W/"b008a622150c5cca2ec769e16e321f7b"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"50b063b2-020f-41ae-b2ce-b34c49cda4f5","oracle_id":"7735eeba-693b-47e2-bd51-414379cf1016","multiverse_ids":[539394],"mtgo_id":93682,"tcgplayer_id":248599,"cardmarket_id":575433,"name":"Beast
        Within","lang":"en","released_at":"2021-09-24","uri":"https://api.scryfall.com/cards/50b063b2-020f-41ae-b2ce-b34c49cda4f5","scryfall_uri":"https://scryfall.com/card/mic/133/beast-within?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.jpg?1637630911","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.jpg?1637630911","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.jpg?1637630911","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.png?1637630911","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.jpg?1637630911","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/5/0/50b063b2-020f-41ae-b2ce-b34c49cda4f5.jpg?1637630911"},"mana_cost":"{2}{G}","cmc":3.0,"type_line":"Instant","oracle_text":"Destroy
        target permanent. Its controller creates a 3/3 green Beast creature token.","colors":["G"],"color_identity":["G"],"keywords":[],"all_parts":[{"object":"related_card","id":"50b063b2-020f-41ae-b2ce-b34c49cda4f5","component":"combo_piece","name":"Beast
        Within","type_line":"Instant","uri":"https://api.scryfall.com/cards/50b063b2-020f-41ae-b2ce-b34c49cda4f5"},{"object":"related_card","id":"a605be96-abae-4c11-8e7c-6fb87b4d8795","component":"token","name":"Beast","type_line":"Token
        Creature — Beast","uri":"https://api.scryfall.com/cards/a605be96-abae-4c11-8e7c-6fb87b4d8795"}],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","historicbrawl":"not_legal","alchemy":"not_legal","paupercommander":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":false,"nonfoil":true,"finishes":["nonfoil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"7f9a4deb-715e-47d2-afac-3843ef92f39b","set":"mic","set_name":"Midnight
        Hunt Commander","set_type":"commander","set_uri":"https://api.scryfall.com/sets/7f9a4deb-715e-47d2-afac-3843ef92f39b","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Amic\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/mic?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/50b063b2-020f-41ae-b2ce-b34c49cda4f5/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A7735eeba-693b-47e2-bd51-414379cf1016\u0026unique=prints","collector_number":"133","digital":false,"rarity":"uncommon","flavor_text":"\"Monsters
        dwell in every heart. We only think civilization tames them.\" ―Euphemia,
        Nexus watcher","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Jesper
        Ejsing","artist_ids":["a5f8354a-8b51-4e59-96b2-0e3aeae4fa1d"],"illustration_id":"8ec245f1-fcfe-4a98-9e13-dd69e2483388","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":21,"prices":{"usd":"1.03","usd_foil":null,"usd_etched":null,"eur":"0.70","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=539394","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Beast+Within\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Beast+Within\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Beast+Within","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Beast+Within"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=248599\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Beast+Within\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/93682?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:26:30 GMT
recorded_with: VCR 6.0.0
