---
http_interactions:
- request:
    method: post
    uri: https://api.scryfall.com/cards/collection
    body:
      encoding: UTF-8
      string: '{"identifiers":[{"name":"Coiling Oracle"},{"name":"Courser of Kruphix"},{"name":"Daring
        Apprentice"},{"name":"Demonic Vigor"},{"name":"Dimir Aqueduct"},{"name":"Dimir
        Guildgate"},{"name":"Embodiment of Spring"},{"name":"Emergence Zone"},{"name":"Eradicator
        Valkyrie"},{"name":"Evolving Wilds"},{"name":"Field of Ruin"},{"name":"Forest"},{"name":"Foul
        Orchard"},{"name":"Gift of Doom"},{"name":"Golgari Guildgate"},{"name":"Golgari
        Rot Farm"},{"name":"Gonti Lord of Luxury"},{"name":"G[...]
- request:
    method: post
    uri: https://api.scryfall.com/cards/collection
    body:
      encoding: UTF-8
      string: '{"identifiers":[{"name":"Acidic Slime"},{"name":"Aid from the Cowl"},{"name":"Alchemist''s
        Refuge"},{"name":"Baleful Strix"},{"name":"Binding the Old Gods"},{"name":"Blast
        Zone"},{"name":"Bolas''s Citadel"},{"name":"Cathodion"},{"name":"Cauldron
        of Souls"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"ce45a48e3603923d56bb84258ff4834d"
    body:
      encoding: UTF-8
      string: '{"object":"list","not_found":[],"data":[{"object":"card","id":"ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517","oracle_id":"21f45043-5419-4019-8b6c-e5294bd5f549","multiverse_ids":[500901],"mtgo_id":85654,"tcgplayer_id":226315,"cardmarket_id":510055,"name":"Acidic
        Slime","lang":"en","released_at":"2020-11-20","uri":"https://api.scryfall.com/cards/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517","scryfall_uri":"https://scryfall.com/card/cmr/421/acidic-slime?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/e/a/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517.jpg?1608919621","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/e/a/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517.jpg?1608919621","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/e/a/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517.jpg?1608919621","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/e/a/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517.png?1608919621","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/e/a/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517.jpg?1608919621","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/e/a/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517.jpg?1608919621"},"mana_cost":"{3}{G}{G}","cmc":5.0,"type_line":"Creature
        — Ooze","oracle_text":"Deathtouch (Any amount of damage this deals to a creature
        is enough to destroy it.)\nWhen Acidic Slime enters the battlefield, destroy
        target artifact, enchantment, or land.","power":"2","toughness":"2","colors":["G"],"color_identity":["G"],"keywords":["Deathtouch"],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"legal","commander":"legal","brawl":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":true,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"cmr","set_name":"Commander
        Legends","set_type":"draft_innovation","set_uri":"https://api.scryfall.com/sets/39de6fbf-1f11-48d0-8f04-f0407f6a0732","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Acmr\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/cmr?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/ea04b4f0-b8c4-43aa-8a2b-b72c22fb4517/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A21f45043-5419-4019-8b6c-e5294bd5f549\u0026unique=prints","collector_number":"421","digital":false,"rarity":"uncommon","flavor_text":"It
        fears no sword and leaves no bones behind.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Karl
        Kopinski","artist_ids":["0fad2c48-a56e-4a0b-b512-224f6f238f20"],"illustration_id":"ed0edf61-658c-4be0-8559-e989b39b8073","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":120,"preview":{"source":"Gstonegames","source_uri":"https://www.gstonegames.com/article/detail-1795.html","previewed_at":"2020-10-27"},"prices":{"usd":"0.10","usd_foil":null,"eur":"0.02","eur_foil":null,"tix":"0.21"},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=500901","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Acidic+Slime\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Acidic+Slime\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Acidic+Slime","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Acidic+Slime"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=226315\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Singles/Commander-Legends-Extras/Acidic-Slime-V1?referrer=scryfall\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/85654?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}},{"object":"card","id":"565cb7fc-cf90-4020-84fe-05ec7b18709d","oracle_id":"9597c974-6120-43a7-9ad3-7e4fddc8c9f5","multiverse_ids":[423772],"mtgo_id":62807,"mtgo_foil_id":62808,"tcgplayer_id":126404,"cardmarket_id":294789,"name":"Aid
        from the Cowl","lang":"en","released_at":"2017-01-20","uri":"https://api.scryfall.com/cards/565cb7fc-cf90-4020-84fe-05ec7b18709d","scryfall_uri":"https://scryfall.com/card/aer/105/aid-from-the-cowl?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/5/6/565cb7fc-cf90-4020-84fe-05ec7b18709d.jpg?1576381957","normal":"[...]
