---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Sol%20Ring
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.jpg?1629844546
      X-Scryfall-Card:
      - https://scryfall.com/card/cc2/7/sol-ring?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"101f1342d417028aa4c5b99fc16e1e07"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"acce65cc-9093-45a6-8c86-97edce545050","oracle_id":"6ad8011d-3471-4369-9d68-b264cc027487","multiverse_ids":[],"tcgplayer_id":247528,"cardmarket_id":577309,"name":"Sol
        Ring","lang":"en","released_at":"2022-01-28","uri":"https://api.scryfall.com/cards/acce65cc-9093-45a6-8c86-97edce545050","scryfall_uri":"https://scryfall.com/card/cc2/7/sol-ring?utm_source=api","layout":"normal","highres_image":false,"image_status":"lowres","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.jpg?1629844546","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.jpg?1629844546","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.jpg?1629844546","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.png?1629844546","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.jpg?1629844546","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/a/c/acce65cc-9093-45a6-8c86-97edce545050.jpg?1629844546"},"mana_cost":"{1}","cmc":1.0,"type_line":"Artifact","oracle_text":"{T}:
        Add {C}{C}.","colors":[],"color_identity":[],"keywords":[],"produced_mana":["C"],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"not_legal","legacy":"banned","pauper":"not_legal","vintage":"restricted","penny":"not_legal","commander":"legal","brawl":"not_legal","historicbrawl":"not_legal","alchemy":"not_legal","paupercommander":"not_legal","duel":"banned","oldschool":"not_legal","premodern":"not_legal"},"games":["paper"],"reserved":false,"foil":true,"nonfoil":true,"finishes":["nonfoil","foil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"78a7f4da-4838-4011-9f58-de8020d1fd2d","set":"cc2","set_name":"Commander
        Collection: Black","set_type":"commander","set_uri":"https://api.scryfall.com/sets/78a7f4da-4838-4011-9f58-de8020d1fd2d","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Acc2\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/cc2?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/acce65cc-9093-45a6-8c86-97edce545050/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A6ad8011d-3471-4369-9d68-b264cc027487\u0026unique=prints","collector_number":"7","digital":false,"rarity":"rare","flavor_text":"Deep
        within the forsaken cavern, a new shadow emerged to devour the light.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Yeong-Hao
        Han","artist_ids":["f8e7f8d6-6dde-4059-973c-30f1fd1bbe4e"],"illustration_id":"1e9aada2-656e-46ed-9a3d-c4410b917aee","border_color":"black","frame":"2015","security_stamp":"oval","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":1,"prices":{"usd":"9.86","usd_foil":"26.39","usd_etched":null,"eur":"3.79","eur_foil":"27.99","tix":null},"related_uris":{"tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Sol+Ring\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Sol+Ring\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Sol+Ring","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Sol+Ring"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=247528\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Sol+Ring\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards?affiliate_id=scryfall\u0026data%5Bsearch%5D=Sol+Ring\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:26:29 GMT
recorded_with: VCR 6.0.0
