---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Llanowar%20Elves
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.jpg?1605281272
      X-Scryfall-Card:
      - https://scryfall.com/card/m19/314/llanowar-elves?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"65cf085fbab2d011fa840270ebee5f7d"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"73542493-cd0b-4bb7-a5b8-8f889c76e4d6","oracle_id":"68954295-54e3-4303-a6bc-fc4547a4e3a3","multiverse_ids":[450261],"mtgo_id":68161,"arena_id":68310,"tcgplayer_id":168646,"cardmarket_id":359654,"name":"Llanowar
        Elves","lang":"en","released_at":"2018-07-13","uri":"https://api.scryfall.com/cards/73542493-cd0b-4bb7-a5b8-8f889c76e4d6","scryfall_uri":"https://scryfall.com/card/m19/314/llanowar-elves?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.jpg?1605281272","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.jpg?1605281272","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.jpg?1605281272","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.png?1605281272","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.jpg?1605281272","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/7/3/73542493-cd0b-4bb7-a5b8-8f889c76e4d6.jpg?1605281272"},"mana_cost":"{G}","cmc":1.0,"type_line":"Creature
        — Elf Druid","oracle_text":"{T}: Add {G}.","power":"1","toughness":"1","colors":["G"],"color_identity":["G"],"keywords":[],"produced_mana":["G"],"legalities":{"standard":"not_legal","future":"not_legal","historic":"legal","gladiator":"legal","pioneer":"legal","modern":"legal","legacy":"legal","pauper":"legal","vintage":"legal","penny":"legal","commander":"legal","brawl":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"legal"},"games":["arena","paper","mtgo"],"reserved":false,"foil":false,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"m19","set_name":"Core
        Set 2019","set_type":"core","set_uri":"https://api.scryfall.com/sets/2f5f2509-56db-414d-9a7e-6e312ec3760c","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Am19\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/m19?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/73542493-cd0b-4bb7-a5b8-8f889c76e4d6/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A68954295-54e3-4303-a6bc-fc4547a4e3a3\u0026unique=prints","collector_number":"314","digital":false,"rarity":"common","flavor_text":"As
        patient and generous as life, as harsh and merciless as nature.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Chris
        Rahn","artist_ids":["7742047e-0f80-4c0f-a530-d07460165e86"],"illustration_id":"82c0ea68-cf37-41ec-aec7-123e8e9f05d3","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"promo_types":["starterdeck"],"edhrec_rank":47,"prices":{"usd":"0.93","usd_foil":null,"eur":"0.30","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=450261","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Llanowar+Elves\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Llanowar+Elves\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Llanowar+Elves","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Llanowar+Elves"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=168646\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Llanowar+Elves\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/68161?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Mon, 19 Apr 2021 04:00:29 GMT
recorded_with: VCR 6.0.0
