---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Beast%20within
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.jpg?1617993928
      X-Scryfall-Card:
      - https://scryfall.com/card/c21/186/beast-within?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"6444b43450608dec69383916ddcd6026"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"c5454c02-db06-4023-bf56-3fcd5f8a189e","oracle_id":"7735eeba-693b-47e2-bd51-414379cf1016","multiverse_ids":[519221],"mtgo_id":89473,"tcgplayer_id":236312,"cardmarket_id":559098,"name":"Beast
        Within","lang":"en","released_at":"2021-04-23","uri":"https://api.scryfall.com/cards/c5454c02-db06-4023-bf56-3fcd5f8a189e","scryfall_uri":"https://scryfall.com/card/c21/186/beast-within?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.jpg?1617993928","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.jpg?1617993928","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.jpg?1617993928","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.png?1617993928","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.jpg?1617993928","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/c/5/c5454c02-db06-4023-bf56-3fcd5f8a189e.jpg?1617993928"},"mana_cost":"{2}{G}","cmc":3.0,"type_line":"Instant","oracle_text":"Destroy
        target permanent. Its controller creates a 3/3 green Beast creature token.","colors":["G"],"color_identity":["G"],"keywords":[],"all_parts":[{"object":"related_card","id":"c5454c02-db06-4023-bf56-3fcd5f8a189e","component":"combo_piece","name":"Beast
        Within","type_line":"Instant","uri":"https://api.scryfall.com/cards/c5454c02-db06-4023-bf56-3fcd5f8a189e"},{"object":"related_card","id":"44a4ef4a-a026-424e-88ff-e2bb77aaf05d","component":"token","name":"Beast","type_line":"Token
        Creature — Beast","uri":"https://api.scryfall.com/cards/44a4ef4a-a026-424e-88ff-e2bb77aaf05d"}],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":false,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"c21","set_name":"Commander
        2021","set_type":"commander","set_uri":"https://api.scryfall.com/sets/27bf6dbd-a9e1-4904-afa7-d28fc7745c4f","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Ac21\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/c21?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/c5454c02-db06-4023-bf56-3fcd5f8a189e/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A7735eeba-693b-47e2-bd51-414379cf1016\u0026unique=prints","collector_number":"186","digital":false,"rarity":"uncommon","flavor_text":"\"Monsters
        dwell in every heart. We only think civilization tames them.\" ―Euphemia,
        Nexus watcher","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Jesper
        Ejsing","artist_ids":["a5f8354a-8b51-4e59-96b2-0e3aeae4fa1d"],"illustration_id":"8ec245f1-fcfe-4a98-9e13-dd69e2483388","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":24,"prices":{"usd":"1.50","usd_foil":null,"eur":"0.58","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=519221","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Beast+Within\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Beast+Within\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Beast+Within","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Beast+Within"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=236312\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Beast+Within\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/89473?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Mon, 19 Apr 2021 05:28:45 GMT
recorded_with: VCR 6.0.0
