---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Wrath%20of%20God
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.jpg?1598303688
      X-Scryfall-Card:
      - https://scryfall.com/card/2xm/39/wrath-of-god?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"e7f4d306d887e77e50fe286bffb4743b"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"664e6656-36a3-4635-9f33-9f8901afd397","oracle_id":"34515b16-c9a4-4f98-8c77-416a7a523407","multiverse_ids":[489712],"mtgo_id":82112,"tcgplayer_id":218452,"cardmarket_id":483959,"name":"Wrath
        of God","lang":"en","released_at":"2020-08-07","uri":"https://api.scryfall.com/cards/664e6656-36a3-4635-9f33-9f8901afd397","scryfall_uri":"https://scryfall.com/card/2xm/39/wrath-of-god?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.jpg?1598303688","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.jpg?1598303688","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.jpg?1598303688","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.png?1598303688","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.jpg?1598303688","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/6/6/664e6656-36a3-4635-9f33-9f8901afd397.jpg?1598303688"},"mana_cost":"{2}{W}{W}","cmc":4.0,"type_line":"Sorcery","oracle_text":"Destroy
        all creatures. They can''t be regenerated.","colors":["W"],"color_identity":["W"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"legal","gladiator":"legal","pioneer":"not_legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","historicbrawl":"legal","alchemy":"not_legal","paupercommander":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"legal"},"games":["paper","mtgo"],"reserved":false,"foil":true,"nonfoil":true,"finishes":["nonfoil","foil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"372dafe8-b5d1-4b81-998f-3ae96b59498a","set":"2xm","set_name":"Double
        Masters","set_type":"masters","set_uri":"https://api.scryfall.com/sets/372dafe8-b5d1-4b81-998f-3ae96b59498a","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3A2xm\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/2xm?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/664e6656-36a3-4635-9f33-9f8901afd397/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A34515b16-c9a4-4f98-8c77-416a7a523407\u0026unique=prints","collector_number":"39","digital":false,"rarity":"rare","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Kev
        Walker","artist_ids":["f366a0ee-a0cd-466d-ba6a-90058c7a31a6"],"illustration_id":"b57c4db3-b71b-4780-b4a3-81dd1e085e26","border_color":"black","frame":"2015","security_stamp":"oval","full_art":false,"textless":false,"booster":true,"story_spotlight":false,"edhrec_rank":229,"preview":{"source":"Wizards
        of the Coast","source_uri":"https://magic.wizards.com/en/articles/archive/card-preview/three-small-words-one-great-effect-2020-07-22","previewed_at":"2020-07-22"},"prices":{"usd":"5.71","usd_foil":"4.61","usd_etched":null,"eur":"4.28","eur_foil":"4.90","tix":"0.23"},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=489712","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Wrath+of+God\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Wrath+of+God\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Wrath+of+God","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Wrath+of+God"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=218452\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Wrath+of+God\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/82112?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:26:29 GMT
recorded_with: VCR 6.0.0
