---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Sakura-Tribe%20Elder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.jpg?1591321004
      X-Scryfall-Card:
      - https://scryfall.com/card/c20/187/sakura-tribe-elder?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"c9ef3ea14e9d0441447ad2ed2fa89303"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"c83be2b7-0373-4389-9aa0-523db58f4d2a","oracle_id":"e3afc704-220f-498f-9eaa-0821b17dc24c","multiverse_ids":[482815],"tcgplayer_id":212531,"cardmarket_id":454083,"name":"Sakura-Tribe
        Elder","lang":"en","released_at":"2020-04-17","uri":"https://api.scryfall.com/cards/c83be2b7-0373-4389-9aa0-523db58f4d2a","scryfall_uri":"https://scryfall.com/card/c20/187/sakura-tribe-elder?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.jpg?1591321004","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.jpg?1591321004","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.jpg?1591321004","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.png?1591321004","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.jpg?1591321004","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/c/8/c83be2b7-0373-4389-9aa0-523db58f4d2a.jpg?1591321004"},"mana_cost":"{1}{G}","cmc":2.0,"type_line":"Creature
        — Snake Shaman","oracle_text":"Sacrifice Sakura-Tribe Elder: Search your library
        for a basic land card, put that card onto the battlefield tapped, then shuffle.","power":"1","toughness":"1","colors":["G"],"color_identity":["G"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"legal","legacy":"legal","pauper":"legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":false,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"c20","set_name":"Commander
        2020","set_type":"commander","set_uri":"https://api.scryfall.com/sets/f60ec786-1f8d-42f7-9abc-0d880fe243f6","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Ac20\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/c20?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/c83be2b7-0373-4389-9aa0-523db58f4d2a/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3Ae3afc704-220f-498f-9eaa-0821b17dc24c\u0026unique=prints","collector_number":"187","digital":false,"rarity":"common","flavor_text":"There
        were no tombstones in orochi territory. Slain warriors were buried with a
        tree sapling, so they would become a part of the forest after death.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Carl
        Critchlow","artist_ids":["17948f16-611a-44b8-8d10-9895a0bdfff1"],"illustration_id":"6c8e4e05-f8f2-4026-8752-a5a3534e0c8d","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":36,"prices":{"usd":"0.84","usd_foil":null,"eur":"0.48","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=482815","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Sakura-Tribe+Elder\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Sakura-Tribe+Elder\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Sakura-Tribe+Elder","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Sakura-Tribe+Elder"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=212531\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Sakura-Tribe+Elder\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards?affiliate_id=scryfall\u0026data%5Bsearch%5D=Sakura-Tribe+Elder\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Mon, 19 Apr 2021 04:00:28 GMT
recorded_with: VCR 6.0.0
