---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Cyclonic%20Rift
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.jpg?1598303834
      X-Scryfall-Card:
      - https://scryfall.com/card/2xm/47/cyclonic-rift?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"c8043bd1665cfd4bd0a5a65b5b9b55f8"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"ff08e5ed-f47b-4d8e-8b8b-41675dccef8b","oracle_id":"d75b9c82-1b49-4c3e-a1b5-aeef57d6644b","multiverse_ids":[489720],"mtgo_id":82128,"tcgplayer_id":218370,"cardmarket_id":482859,"name":"Cyclonic
        Rift","lang":"en","released_at":"2020-08-07","uri":"https://api.scryfall.com/cards/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b","scryfall_uri":"https://scryfall.com/card/2xm/47/cyclonic-rift?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.jpg?1598303834","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.jpg?1598303834","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.jpg?1598303834","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.png?1598303834","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.jpg?1598303834","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/f/f/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b.jpg?1598303834"},"mana_cost":"{1}{U}","cmc":2.0,"type_line":"Instant","oracle_text":"Return
        target nonland permanent you don''t control to its owner''s hand.\nOverload
        {6}{U} (You may cast this spell for its overload cost. If you do, change its
        text by replacing all instances of \"target\" with \"each.\")","colors":["U"],"color_identity":["U"],"keywords":["Overload"],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":true,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"2xm","set_name":"Double
        Masters","set_type":"masters","set_uri":"https://api.scryfall.com/sets/372dafe8-b5d1-4b81-998f-3ae96b59498a","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3A2xm\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/2xm?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/ff08e5ed-f47b-4d8e-8b8b-41675dccef8b/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3Ad75b9c82-1b49-4c3e-a1b5-aeef57d6644b\u0026unique=prints","collector_number":"47","digital":false,"rarity":"rare","flavor_text":"The
        Izzet specialize in unnatural disaster.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Chris
        Rahn","artist_ids":["7742047e-0f80-4c0f-a530-d07460165e86"],"illustration_id":"2a05ed26-380a-4ef9-8312-9638fa201b94","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":true,"story_spotlight":false,"edhrec_rank":19,"preview":{"source":"IzzetMTGNews","source_uri":"http://www.izzetmtgnews.com/archives/97152","previewed_at":"2020-07-21"},"prices":{"usd":"34.50","usd_foil":"33.42","eur":"15.07","eur_foil":"17.59","tix":"0.63"},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=489720","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Cyclonic+Rift\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Cyclonic+Rift\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Cyclonic+Rift","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Cyclonic+Rift"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=218370\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Cyclonic+Rift\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/82128?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Mon, 19 Apr 2021 04:44:14 GMT
recorded_with: VCR 6.0.0
