---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Aetherize
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.jpg?1604197364
      X-Scryfall-Card:
      - https://scryfall.com/card/znc/23/aetherize?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"58a7dd58734009e484141267c6928dd3"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"a022eacd-1cdd-42d7-8a4c-88e8a6527144","oracle_id":"7c779721-cd1b-4696-9ae9-68ccc284ed2a","multiverse_ids":[495961],"tcgplayer_id":222568,"cardmarket_id":503845,"name":"Aetherize","lang":"en","released_at":"2020-09-25","uri":"https://api.scryfall.com/cards/a022eacd-1cdd-42d7-8a4c-88e8a6527144","scryfall_uri":"https://scryfall.com/card/znc/23/aetherize?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.jpg?1604197364","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.jpg?1604197364","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.jpg?1604197364","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.png?1604197364","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.jpg?1604197364","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/a/0/a022eacd-1cdd-42d7-8a4c-88e8a6527144.jpg?1604197364"},"mana_cost":"{3}{U}","cmc":4.0,"type_line":"Instant","oracle_text":"Return
        all attacking creatures to their owner''s hand.","colors":["U"],"color_identity":["U"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"legal","commander":"legal","brawl":"not_legal","historicbrawl":"not_legal","alchemy":"not_legal","paupercommander":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper"],"reserved":false,"foil":true,"nonfoil":true,"finishes":["nonfoil","foil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"25c6bd9b-4e10-40a4-b9b5-0f4d9b5852a1","set":"znc","set_name":"Zendikar
        Rising Commander","set_type":"commander","set_uri":"https://api.scryfall.com/sets/25c6bd9b-4e10-40a4-b9b5-0f4d9b5852a1","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Aznc\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/znc?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/a022eacd-1cdd-42d7-8a4c-88e8a6527144/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A7c779721-cd1b-4696-9ae9-68ccc284ed2a\u0026unique=prints","collector_number":"23","digital":false,"rarity":"uncommon","flavor_text":"\"You
        can come back once you''ve learned some manners—and figured out how to reconstitute
        your physical forms.\"","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Ryan
        Barger","artist_ids":["a4e0102e-bbeb-497c-babc-1c0741fea914"],"illustration_id":"52128406-9aff-4392-8e06-0892df04c38b","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":506,"prices":{"usd":"0.92","usd_foil":null,"usd_etched":null,"eur":"0.49","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=495961","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Aetherize\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Aetherize\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Aetherize","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Aetherize"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=222568\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Aetherize\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards?affiliate_id=scryfall\u0026data%5Bsearch%5D=Aetherize\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:26:30 GMT
recorded_with: VCR 6.0.0
