---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Path%20to%20exile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.jpg?1599709071
      X-Scryfall-Card:
      - https://scryfall.com/card/2xm/25/path-to-exile?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"016df5b94b25c53bc779c58ebef42afe"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"e9d36855-c38a-4bba-a642-cff3f81e057e","oracle_id":"d683d985-9888-4d21-8b5f-69e69ce4a03b","multiverse_ids":[489698],"mtgo_id":82084,"tcgplayer_id":218377,"cardmarket_id":483909,"name":"Path
        to Exile","lang":"en","released_at":"2020-08-07","uri":"https://api.scryfall.com/cards/e9d36855-c38a-4bba-a642-cff3f81e057e","scryfall_uri":"https://scryfall.com/card/2xm/25/path-to-exile?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.jpg?1599709071","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.jpg?1599709071","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.jpg?1599709071","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.png?1599709071","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.jpg?1599709071","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/e/9/e9d36855-c38a-4bba-a642-cff3f81e057e.jpg?1599709071"},"mana_cost":"{W}","cmc":1.0,"type_line":"Instant","oracle_text":"Exile
        target creature. Its controller may search their library for a basic land
        card, put that card onto the battlefield tapped, then shuffle.","colors":["W"],"color_identity":["W"],"keywords":[],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"not_legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"not_legal","commander":"legal","brawl":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper","mtgo"],"reserved":false,"foil":true,"nonfoil":true,"oversized":false,"promo":false,"reprint":true,"variation":false,"set":"2xm","set_name":"Double
        Masters","set_type":"masters","set_uri":"https://api.scryfall.com/sets/372dafe8-b5d1-4b81-998f-3ae96b59498a","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3A2xm\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/2xm?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/e9d36855-c38a-4bba-a642-cff3f81e057e/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3Ad683d985-9888-4d21-8b5f-69e69ce4a03b\u0026unique=prints","collector_number":"25","digital":false,"rarity":"uncommon","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Todd
        Lockwood","artist_ids":["d0b9f3cc-13fb-42b6-bc43-b034728e5c7b"],"illustration_id":"521e5f89-b059-432f-b515-c207cccf3796","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":true,"story_spotlight":false,"edhrec_rank":41,"preview":{"source":"Richard
        Hagon","source_uri":"https://twitter.com/MTGRich/status/1285621754577158144","previewed_at":"2020-07-21"},"prices":{"usd":"3.59","usd_foil":"3.70","eur":"2.58","eur_foil":"2.25","tix":"0.28"},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=489698","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Path+to+Exile\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Path+to+Exile\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Path+to+Exile","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Path+to+Exile"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=218377\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Path+to+Exile\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards/82084?affiliate_id=scryfall\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Mon, 19 Apr 2021 05:28:45 GMT
recorded_with: VCR 6.0.0
