---
http_interactions:
- request:
    method: get
    uri: https://api.scryfall.com/cards/named?exact=Vandalblast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Action-Cache:
      - HIT
      X-Scryfall-Card-Image:
      - https://c1.scryfall.com/file/scryfall-cards/large/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.jpg?1641603356
      X-Scryfall-Card:
      - https://scryfall.com/card/voc/152/vandalblast?utm_source=api
      Content-Disposition:
      - inline
      Content-Transfer-Encoding:
      - binary
      Etag:
      - W/"d19ca1cbb3820a197c263157e414e2c4"
    body:
      encoding: UTF-8
      string: '{"object":"card","id":"4ce9072b-58e9-422a-9331-31886c111cfa","oracle_id":"3567c3c8-b3c7-45b7-935b-b1fdbc973720","multiverse_ids":[545772],"tcgplayer_id":254257,"cardmarket_id":584132,"name":"Vandalblast","lang":"en","released_at":"2021-11-19","uri":"https://api.scryfall.com/cards/4ce9072b-58e9-422a-9331-31886c111cfa","scryfall_uri":"https://scryfall.com/card/voc/152/vandalblast?utm_source=api","layout":"normal","highres_image":true,"image_status":"highres_scan","image_uris":{"small":"https://c1.scryfall.com/file/scryfall-cards/small/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.jpg?1641603356","normal":"https://c1.scryfall.com/file/scryfall-cards/normal/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.jpg?1641603356","large":"https://c1.scryfall.com/file/scryfall-cards/large/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.jpg?1641603356","png":"https://c1.scryfall.com/file/scryfall-cards/png/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.png?1641603356","art_crop":"https://c1.scryfall.com/file/scryfall-cards/art_crop/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.jpg?1641603356","border_crop":"https://c1.scryfall.com/file/scryfall-cards/border_crop/front/4/c/4ce9072b-58e9-422a-9331-31886c111cfa.jpg?1641603356"},"mana_cost":"{R}","cmc":1.0,"type_line":"Sorcery","oracle_text":"Destroy
        target artifact you don''t control.\nOverload {4}{R} (You may cast this spell
        for its overload cost. If you do, change its text by replacing all instances
        of \"target\" with \"each.\")","colors":["R"],"color_identity":["R"],"keywords":["Overload"],"legalities":{"standard":"not_legal","future":"not_legal","historic":"not_legal","gladiator":"not_legal","pioneer":"legal","modern":"legal","legacy":"legal","pauper":"not_legal","vintage":"legal","penny":"legal","commander":"legal","brawl":"not_legal","historicbrawl":"not_legal","alchemy":"not_legal","paupercommander":"not_legal","duel":"legal","oldschool":"not_legal","premodern":"not_legal"},"games":["paper"],"reserved":false,"foil":false,"nonfoil":true,"finishes":["nonfoil"],"oversized":false,"promo":false,"reprint":true,"variation":false,"set_id":"b2e444f7-41e6-4172-ba01-47d91d5e7bbc","set":"voc","set_name":"Crimson
        Vow Commander","set_type":"commander","set_uri":"https://api.scryfall.com/sets/b2e444f7-41e6-4172-ba01-47d91d5e7bbc","set_search_uri":"https://api.scryfall.com/cards/search?order=set\u0026q=e%3Avoc\u0026unique=prints","scryfall_set_uri":"https://scryfall.com/sets/voc?utm_source=api","rulings_uri":"https://api.scryfall.com/cards/4ce9072b-58e9-422a-9331-31886c111cfa/rulings","prints_search_uri":"https://api.scryfall.com/cards/search?order=released\u0026q=oracleid%3A3567c3c8-b3c7-45b7-935b-b1fdbc973720\u0026unique=prints","collector_number":"152","digital":false,"rarity":"uncommon","flavor_text":"Beauty
        is in the eye of the exploder.","card_back_id":"0aeebaf5-8c7d-4636-9e82-8c27447861f7","artist":"Seb
        McKinnon","artist_ids":["ad4caca0-8d89-44ce-a1a6-d5ca905bd6fb"],"illustration_id":"ef5cd102-5424-405d-8342-dabf06d6bca5","border_color":"black","frame":"2015","full_art":false,"textless":false,"booster":false,"story_spotlight":false,"edhrec_rank":98,"prices":{"usd":"2.83","usd_foil":null,"usd_etched":null,"eur":"1.73","eur_foil":null,"tix":null},"related_uris":{"gatherer":"https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=545772","tcgplayer_infinite_articles":"https://infinite.tcgplayer.com/search?contentMode=article\u0026game=magic\u0026partner=scryfall\u0026q=Vandalblast\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","tcgplayer_infinite_decks":"https://infinite.tcgplayer.com/search?contentMode=deck\u0026game=magic\u0026partner=scryfall\u0026q=Vandalblast\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","edhrec":"https://edhrec.com/route/?cc=Vandalblast","mtgtop8":"https://mtgtop8.com/search?MD_check=1\u0026SB_check=1\u0026cards=Vandalblast"},"purchase_uris":{"tcgplayer":"https://shop.tcgplayer.com/product/productsearch?id=254257\u0026utm_campaign=affiliate\u0026utm_medium=api\u0026utm_source=scryfall","cardmarket":"https://www.cardmarket.com/en/Magic/Products/Search?referrer=scryfall\u0026searchString=Vandalblast\u0026utm_campaign=card_prices\u0026utm_medium=text\u0026utm_source=scryfall","cardhoarder":"https://www.cardhoarder.com/cards?affiliate_id=scryfall\u0026data%5Bsearch%5D=Vandalblast\u0026ref=card-profile\u0026utm_campaign=affiliate\u0026utm_medium=card\u0026utm_source=scryfall"}}'
  recorded_at: Fri, 14 Jan 2022 02:26:30 GMT
recorded_with: VCR 6.0.0
